<% if @photo_pages.page_count > 1 %>

  <% if @photo_pages.current.previous %>
    <%= link_to '&laquo; Previous', :page => @photo_pages.current.previous %>
  <% end %>

  <%= pagination_links @photo_pages, :params => params %>

  <% if @photo_pages.current.next %>
    <%= link_to 'Next &raquo;', { :page => @photo_pages.current.next } %>
  <% end %>

 <% end %>
