<li id="tag-<%= edit_tag.id %>">
  <span><%= edit_tag.name %></span>
  <small>
    [<%= link_to_remote 'delete',
          :url => user_remove_tag_photo_path(:id => @photo.id,
                                           :tag_id => edit_tag.id),
          :method => :delete %>]
  </small>
</li>